<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/loading %>

        <form method="POST" class="js_form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="room" value="<%= room %>" />
        </form>

        <!-- Socket.io -->

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            const form = document.querySelector(".js_form");
            const deleteRoom = "<%= room %>";

            init = () => {
                socket.emit("event", {
                    status: "delete",
                    target: deleteRoom,
                });

                setTimeout(() => {
                    form.submit();
                }, 100);
            };

            init();
        </script>
    </body>
</html>
