<div class="w-full bg-gray-500">
    <div class="container w-full flex text-center mx-auto">
        <div class="flex-1 my-1">
            <div class="my-4">
                <div class=""><i class="far fa-compass text-4xl"></i></div>
                <div class="self-center">Location: 서울특별시 서초구 서초1동</div>
            </div>
            <div class="my-4">
                <div class=""><i class="far fa-building text-4xl"></i></div>
                <div class="self-center">Developer: <a href="https://maplestory.nexon.com/Home/Main">&copy;Min</a></div>
            </div>
            <div class="my-4">
                <div class=""><i class="fas fa-phone-alt text-4xl"></i></div>
                <div class="self-center">Tel: +82 10-4033-0246</div>
            </div>
            <div class="my-4">
                <div class=""><i class="far fa-envelope text-4xl"></i></div>
                <div class="self-center">Email: 7cmdehdrb@naver.com</div>
            </div>
        </div>
        <div class="my_mobile_disappear flex-1 my-1">
            <div class="my-4">
                <div>
                    <strong class="text-xl">ABOUT OUR PROJECT</strong>
                </div>
                <div class="my-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae fringilla eros. Donec accumsan, sapien nec blandit congue, lacus augue commodo ipsum, et fringilla sapien
                    lectus sit amet odio. Vivamus iaculis, mi sit amet eleifend semper, lectus dolor vulputate orci, a sodales arcu lorem eu sem. Vestibulum ante ipsum primis.
                </div>
                <div class="flex">
                    <div class="flex-1">
                        <i class="fab fa-facebook text-4xl text-blue-700"></i>
                    </div>
                    <div class="flex-1">
                        <i class="fab fa-twitter text-4xl text-blue-400"></i>
                    </div>
                    <div class="flex-1">
                        <a href="https://www.youtube.com/channel/UCbIqOkTdOnYFKNmzEI-daOg?view_as=subscriber"><i class="fab fa-youtube text-4xl text-red-600"></i></a>
                    </div>
                    <div class="flex-1">
                        <a href="https://github.com/7cmdehdrb"><i class="fab fa-github text-4xl text-black"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
