<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/styles.css" />
<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Socket.io -->

<script src="/socket.io/socket.io.js"></script>
<script>
    let socket_session = "<%= Boolean(session.user) ? session.user.nickname : null %>";
    socket_session = socket_session == "" ? undefined : socket_session;
</script>

<!-- Socket.io -->

<style>
    body {
        font-family: "Jua", sans-serif;
    }

    @media (min-width: 0px) {
        .my_mobile_disappear {
            display: none;
        }
        .my_mobile_appear {
            display: block;
        }

        .my_chat_icon {
            position: fixed;
            width: 15%;
            padding-top: 15%;
            right: 5%;
            bottom: 5%;
            background-color: #f1f1f1;
            background-image: url("/images/chat.png");
            background-size: cover;
            resize: both;
        }
    }

    @media (min-width: 992px) {
        .my_mobile_disappear {
            display: block;
        }
        .my_mobile_appear {
            display: none;
        }

        .my_chat_icon {
            position: fixed;
            width: 5%;
            padding-top: 5%;
            right: 2%;
            bottom: 2%;
            background-color: #f1f1f1;
            background-image: url("/images/chat.png");
            background-size: cover;
            resize: both;
        }
    }
</style>
<title>MCheat</title>
