<% if(session.user){ %>

<div class="my_chat_icon rounded-full shadow-md hover:bg-gray-200" style="cursor: pointer;" onclick="openInstantChat()">
    <!--  -->
</div>
<script src="/socket/instantMessage.js"></script>

<% } %>
