<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <h1>나가는 중입니다...</h1>

        <!-- Socket.io -->

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            init = () => {
                socket.emit("groupMessage", {
                    room: "<%= room %>",
                    from: "<%= session.user.nickname %>",
                    from_email: "<%= session.user.email %>",
                    message: "<%= session.user.nickname %>님이 체팅방을 나가셨습니다",
                });
                setTimeout(() => {
                    location.href = "/messages/groupMessage";
                }, 100);
            };

            init();
        </script>
    </body>
</html>
