<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <div class="container w-full lg:w-1/2 my-5 text-center">
            <% if(show == "true"){ %> <% include ../partial/toast %> <% } %>
            <h1 class="text-4xl">CHANGE PASSWORD</h1>
            <div class="my-10">
                <form method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="current_password">현재 비밀번호</label>
                            <input type="password" class="form-control" id="current_password" name="current_password" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">새 비밀번호</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" onkeyup="checkPasswordStrength()" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputConfirmPassword">새 비밀번호 확인</label>
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="새 비밀번호 확인" onkeyup="checkPasswordConfirm()" required />
                        </div>
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" id="password-strength-status" role="alert">
                                사용할 수 없는 비밀번호입니다
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary">변경하기</button>
                </form>
            </div>
        </div>
        <% include ../partial/agreement %> <% include ../partial/foot %> <% include ../partial/footer %>
        <script src="/javascripts/changePassword.js"></script>
    </body>
</html>
