<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <div class="container w-1/2 my-5 text-center">
            <% if(show == "true"){ %> <% include ../partial/toast %> <% } %>
            <h1 class="text-4xl">EDIT PROFILE</h1>
            <div>
                <form class="my-10" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">이메일</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email" value="<%= session.user.email %> " readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputFarm">농장 이름</label>
                            <input type="text" class="form-control" id="inputFarm" name="farm" value="<%= session.user.farm %> " />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputNickname">메이플 닉네임</label>
                            <input type="text" class="form-control js_nickname" id="inputNickname" name="nickname" value="<%= session.user.nickname %>" placeholder="(대소문자 구분)" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputServer">서버</label>
                            <input type="text" class="form-control js_server" id="inputServer" value="닉네임 찾기를 해주세요" name="server" readonly />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputGuild">길드</label>
                            <input type="text" class="form-control js_guild" id="inputGuild" value="닉네임 찾기를 해주세요" name="guild" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputSearchNickname">캐릭터 찾기</label>
                            <input type="button" class="form-control btn btn-primary" id="inputSearchNickname" value="캐릭터 찾기" onclick="checkNickname()" />
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <label for="inputBio">한줄소개</label>
                        <textarea class="form-control" id="inputBio" name="bio" rows="3"><%= session.user.bio %></textarea>
                    </div>
                    <input type="hidden" class="js_profile" name="profile" />
                    <button type="submit" class="btn btn-primary">수정하기</button>
                </form>
            </div>
        </div>
        <% include ../partial/foot %> <% include ../partial/footer %>
        <script src="/javascripts/editProfile.js"></script>
    </body>
</html>
