<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>

        <div class="container w-full lg:w-1/2 my-5 text-center">
            <h1 class="text-4xl my-4">FIND PASSWORD</h1>
            <% if(show == "true"){ %> <% include ../partial/toast %> <% } %>
            <div class="mt-10 mb-5">
                <form method="POST">
                    <div class="my-5">
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" name="email" placeholder="이메일" required />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="nickname" placeholder="캐릭터 닉네임" placeholder="(대소문자 구분)" required />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">비밀번호 찾기</button>
                </form>
            </div>
        </div>

        <% include ../partial/foot %> <% include ../partial/footer %>
    </body>
</html>
