<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <h1>로그아웃 중입니다...</h1>

        <!-- Socket.io -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            const user = "<%= user %>";
            socket.emit("event", {
                status: "logout",
                user: user,
            });
            setTimeout(() => {
                location.href = "/";
            }, 100);
        </script>
    </body>
</html>
