<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <h1>설정을 변경하는 중입니다...</h1>

        <form method="POST" class="js_form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="id" value="<%= id %>" />
        </form>

        <script>
            const form = document.querySelector(".js_form");

            init = () => {
                setTimeout(() => {
                    form.submit();
                }, 100);
            };

            init();
        </script>
    </body>
</html>
